set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

let mapleader = " "

map <leader>f <Action>(GotoFile)
map <leader>/ <Action>(FindInPath)
map <leader>. <Action>(QuickActions)

map <leader>d <Action>(Debug)
map <leader>D <Action>(Run)
map <leader>n <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

map gh <Action>(ShowErrorDescription)
map gi <Action>(ShowHoverInfo)
map gr <Action>(FindUsages)
map gi <Action>(GotoImplementation)
map gt <Action>(GotoTest)

map <leader>w <C-w>
map <C-w>o <Action>(CloseEditorsGroup)
map <C-w>O <Action>(HideAllWindows)
map <C-w>t <Action>(ActivateTerminalToolWindow)

imap kj <Esc>

